@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fondo\ incio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 86, 179, 0.9);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
    transform: scale(1.1);
}

main {
    padding: 20px;
    background: rgba(128, 128, 128, 0.7);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    color: #000000;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

footer {
    background-color: rgba(0, 86, 179, 0.9);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    main {
        padding: 15px;
        margin: 10px;
        width: 90%;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 10px;
        margin: 5px;
        width: 95%;
    }
    
    h2, h3 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    h2, h3 {
        font-size: 1.2em;
    }

    nav ul li {
        margin: 5px 0;
    }
}
